@font-face {
  font-family: NixieOne;
  src: url(./assets/fonts/NixieOne-Regular.ttf);
}

@font-face {
  font-family: AlegreyaSans;
  src: url(./assets/fonts/AlegreyaSans-Medium.ttf);
}

@font-face {
  font-family: AlegeyaSC-Medium;
  src: url(./assets/fonts/AlegreyaSC-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: AlegeyaSC-Regular;
  src: url(./assets/fonts/AlegreyaSC-Regular.ttf);
  font-weight: 400;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-dark: #3a4f52;
  --color-gray-light: #6a6a6a;
  --color-gray-background: #f1f0f0;
  --color-blue-light: #4da7ca;
  --color-blue-dark: #2b3e51;
}

/* ! BASIC */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
}

h1 {
  font-family: NixieOne;
  font-size: 3.5rem;
  font-weight: 400;
}

h2 {
  font-family: AlegreyaSans;
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: var(--color-gray-dark);
}

a {
  all: unset;
  font-family: Helvetica, sans-serif;
  font-size: 1.125rem;
}

.viewAll {
  border: 1px solid var(--color-gray-dark);
  padding: 0.75rem 1.0625rem;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 0.875rem;
}

/* ! HEADER */

header {
  background: url(./assets/images/background-1.png) no-repeat center;
  background-size: cover;
  padding: 2.5vw;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

header svg {
  fill: var(--color-white);
  height: 28px;
  width: 24px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17.8125rem;
}

header nav p {
  font-family: AlegeyaSC-Medium;
  font-size: 1.625rem;
}

header nav p span {
  font-size: 2rem;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 22.5rem;
}

header div p {
  font-family: AlegeyaSC-Regular;
  font-size: 0.875rem;
  opacity: 0.5;
}

header div p span {
  font-size: 1.1rem;
}

/* ! LATEST WORKS SECTION */

.works {
  background-color: var(--color-gray-background);
  color: var(--color-gray-light);
  padding-bottom: 3.6875rem;
  padding: 3.75rem 10vw;
}

.works-header {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  margin-bottom: 3.75rem;
}

.works-header p {
  color: var(--color-gray-light);
}

.works-header div:nth-of-type(2) {
  margin-top: 0.75rem;
}

.works-images-item {
  width: 33vw;
  height: 20vw;
}

.works-images-row-1,
.works-images-row-2 {
  display: flex;
  width: 80vw;
  gap: 1vw;
  margin-bottom: 1vw;
}

.works-images-row-1 div:nth-of-type(1) {
  background: url(./assets/images/latest-1.png) no-repeat center;
  background-size: cover;
}

.works-images-row-1 div:nth-of-type(2) {
  background: url(./assets/images/latest-2.png) no-repeat center;
  background-size: cover;
}

.works-images-row-1 div:nth-of-type(3) {
  background: url(./assets/images/latest-3.png) no-repeat center;
  background-size: cover;
}

.works-images-row-2 div:nth-of-type(1) {
  background: url(./assets/images/latest-4.png) no-repeat center;
  background-size: cover;
}

.works-images-row-2 div:nth-of-type(2) {
  background: url(./assets/images/latest-5.png) no-repeat center;
  background-size: cover;
}

.works-images-row-2 div:nth-of-type(3) {
  background: url(./assets/images/latest-6.png) no-repeat center;
  background-size: cover;
}

/* ! SERVICES SECTION */

.services {
  background: url(./assets/images/background-2.png) no-repeat center;
  background-size: cover;
  color: var(--color-white);
}

.services h2 {
  color: var(--color-white);
}
